@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.manrope {
  font-family: "Manrope", sans-serif;

}

.span {
  position: absolute;
  text-align: center;
  margin-block: 15px;
  padding-inline: 5px;
  font-size: sans-serif;
  font-size: 1.8rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;

}